body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  background-color: #24242D;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}
