:root {
  --font-family-base: "Barlow Regular", sans-serif;
  --transition-duration: 0.2s;

  --color-accent: #0042ec;
  --color-dark: #24242d;
  --color-dark-alt: #1f1f27;

  --container-width: 1300px;
  --container-padding-x: 70px;

  --section-padding-y: 70px;
}
